name: Publish Helm chart to GHCR (OCI)

on:
  push:
    branches:
      - main
      - dev

permissions:
  contents: read
  packages: write

env:
  REGISTRY: ghcr.io
  OWNER: ${{ github.repository_owner }}
  CHART_DIR: charts/interlink-all-in-one
  CHART_NAME: interlink-with-nats

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.4

      - name: Helm registry login (GHCR)
        env:
          HELM_EXPERIMENTAL_OCI: 1
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | \
            helm registry login ${{ env.REGISTRY }} \
              --username "${{ github.actor }}" \
              --password-stdin


      - name: Package chart
        working-directory: ${{ env.CHART_DIR }}
        run: |
          helm package . 

      - name: Push to GHCR as OCI
        working-directory: ${{ env.CHART_DIR }}
        env:
          HELM_EXPERIMENTAL_OCI: 1
        run: |
          CHART_PKG=$( find . | grep \.tgz$ )
          REPO="oci://${{ env.REGISTRY }}/${{ github.repository }}/charts/${{ env.CHART_NAME }}-${{ github.ref_name }}"
          echo "Pushing $CHART_PKG to $REPO"
          helm push "$CHART_PKG" "$REPO"

